* {
    padding: 0%;
    margin: 0%;
    font-family: "Poppins";
}

body {
    
    
    background: linear-gradient(45deg, #FFDAB9, #E6E6FA, #98FF98);



    background-size: cover;
    background-attachment: fixed;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */

    padding: 0;
    
}





.top {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilepic {
    height: 50%;
    width: 20%;
    background-image: url("RashidCropLateef.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

@media (max-width: 600px) {
    .top {
        display: none;
    }

    .description {
        display: none;
    }
    
    #tech h3 {
        margin-top: 200px;
    }

    .uppermiddle {
        background-color: grey;
        height: 10%;
        width: 100%;
        top: 0;
        border-bottom: 2px solid black;

        box-sizing: border-box;
    }

    .uppermiddle nav {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }

    .uppermiddle button {
        height: 2rem;
        width: 5rem;
        border-radius: none;
        font-size: 1rem;
        transition: none;
        background-color: transparent;
        color: black;
        border: none;
    }

    .yo {
        display: none;
    }
}

.description {
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    width: 45%;
    border: 5px solid;
    border-image: linear-gradient(to right, #383635, #312f2e); /* Gradient from pink to orange */
    border-image-slice: 1;
    overflow: hidden;

}



.description h3 {
    font-size: 3rem;
    color: black;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;

    margin-bottom: 0px;
    margin: 0%;
    padding: 0%;
}



.description p {
    font-size: 1rem;
    font-weight: 600;
}

.uppermiddle {
    position: fixed;
    z-index: 2;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    
}

.uppermiddle nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    align-items: center;
    
}

#charselect {
    position: relative;;
    font-size: medium;
    border: 3px solid black;
    padding: 10px;
    border-radius: 0px;
    justify-self: right;
    align-self: center;
    transition: background-color 200ms ease-in;
    transition: color 200ms ease-in;
    
}

#charselect:hover {
    background-color: lightgray;
    color: black;
    transform: scale(1.1);
}

.dropdown {
    display: none;
    position: fixed;
    left: 89%;
    top: 13%;
    flex-direction: column;
    gap: 8px;
    height: 300px;
    width:  150px;
    padding: 0%;
    border: none;
    z-index: 2;
    
}

.dropdown div {
    width: 120px;
    height: 120px;
    padding: 0%;
    margin: 0%;
    background-color: white;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 66px;
}

.dropdown div:hover {
    transform: scale(1.1);
}

.kimberly {
    background-image: url("Kimberly_Jackson.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

.rashid {
    background-image: url("rashidheadshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.uppermiddle button {
    height: 4rem;
    width: 9rem;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: background-color 300ms;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}



.uppermiddle button:hover {
    background-color: lightgrey;
}





#tech h3 {
    font-size: 3rem;
    font-size: "Cenzel";
    color: #333333;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
}


#middle {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
    gap: 20px;
    justify-items: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    padding: 100px;
    justify-content: center;

}

.piece {
    width: 20rem;
    height: 20rem;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(140, 105, 71, 0.3);
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 300ms;

}

.piece:hover {
    transform: scale(1.1);
}

.piece h3 {
    font-size: 1.5rem;
}

.piece p {
    text-align: left;
    font-size: 1rem;
    overflow: hidden;
    padding: 10px;
}

.upper {
    height: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.lower {
    box-sizing: border-box;
    height: 50%;

}

.lower span {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.fa-arrow-up-right-from-square {
    color: black;
    font-size: 1.9rem;
    cursor: pointer;
    animation: icon 2s infinite alternate;
}

@keyframes icon {
    from {
        color: red;
    }

    to {
        color: darkred;
    }
}

.lighteagle {
    background-image: url("lighteagle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #FF6347 ;
}

.mediumeagle {
    background-image: url("mediumeagle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #FF69B4;
}

.overhead {
    background-image: url("6hp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #8A2BE2;
}

.crouchingmedium {
    background-image: url("2mp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #00CED1 ;
}

.sa2 {
    background-image: url("sa2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F0E68C;
}

.fivehk {
    background-image: url("5hk.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #DDA0DD;
}

.driveimpact {
    background-image: url("driveimpact.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #32CD32;
}

.dirtydi {
    background-image: url("driveimpact.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F08080;
}

.burnout {
    background-image: url("burnt.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #7350f4;
}

.dirty {
    font-size: 1.2rem;
    font-weight: bold;
    transform: rotate(-60deg);
}

#streamercontainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) ) ;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: start;
    padding: 100px;
    color: #333333;
    
}

@keyframes apear {
    from {
        opacity: 0.5;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
    
}

@keyframes apearc {
    from {
        opacity: 0.5;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
    
}

@keyframes apearl {
    from {
        opacity: 0.5;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
    
}

.pieces.lefty {
    animation: apearl linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    animation-iteration-count: 1;
}

.pieces.centers {
    animation: apearc linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    animation-iteration-count: 1;
}

.pieces {
    width: 16rem;
    height: 16rem;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(140, 105, 71, 0.3);
    box-sizing: border-box;
    border-radius: 360px;
    padding: 50px;
    background-color: white;
    animation: apear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    

}

.bottom h3 {
    color: #333333;
}

.stream {
    color: #333333;
}

.title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333333;
}

.oilking {
    height: 60%;
    width: 100%;
    background-image: url("oilking.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bigbird {
    height: 60%;
    width: 100%;
    background-image: url("bigbird.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.jb {
    height: 60%;
    width: 100%;
    background-image: url("jb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.gachikun {
    height: 60%;
    width: 100%;
    background-image: url("gachigoat.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.john {
    height: 60%;
    width: 100%;
    background-image: url("jt1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.links {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-youtube {
    color: red;
    font-size: 2rem;
}

.fa-twitch {
    color: #9146FF;
    font-size: 2rem;
}

.fa-x-twitter {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.fa-brands {
    transition: transform 200ms ease-in;
}

.fa-brands:hover {
    transform: scale(1.3);
}

a:visited {
    color: white;
}

.bottom h3 {
    font-size: 3rem;
    font-size: "Cenzel";
    display: flex;
    justify-content: center;
}

.fa-brands {
    cursor: pointer;
}

#labbers {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

#labbers h3 {
    font-size: 3rem;
    font-size: "Cenzel";
    color: #333333;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

#labbercontainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) ) ;
    gap: 40px;
    justify-items: center;
    justify-content: center;
    align-items: start;
    padding: 50px;
    
}

#labbercontainer .title {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    z-index: 2;
    font-size: 2rem;
    box-sizing: border-box;
}

.labber {
    width: 15rem;
    height: 15rem;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(140, 105, 71, 0.3);
    box-sizing: border-box;
    border-radius: 360px;
    padding: 50px;
    background-color: white;
    cursor: pointer;
    filter: grayscale(100%);
    transition: transform 200ms;
    transition: filter 200ms ease-in-out;
}

.labber:hover {
    transform: scale(1.1);
    filter: grayscale(0%);

}

.hub {
}

.gallant {
    background-image: url("gallant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

.gomamochi {
    background-image: url("gomamochi.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fourshika {
    background-image: url("rashidUSAN.ico");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.twitterholder {
    cursor: pointer;
    background-color: transparent;
}

.twitterholder i {
    color: black;
}