* {
    padding: 0%;
    margin: 0%;
    font-family: "Poppins";
}

body {
    background: url("css-pattern-by-magicpattern.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    width: 100dvw;
    padding: 0;
    
}





.top {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilepic {
    height: 50%;
    width: 20%;
    background-image: url("RashidCropLateef.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}



.description {
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    height: 60%;
    width: 40%;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px rgba(140, 105, 71, 0.3);
    border-radius: 30px;
    overflow: hidden;
}

.description h3 {
    font-size: 4rem;
    color: #C04E4E;

    margin-bottom: 40px;
    margin: 0%;
    padding: 0%;
}

.description p {
    font-size: 1.3rem;
    font-weight: 600;
}

.uppermiddle {
    position: fixed;
    z-index: 2;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.uppermiddle nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 40rem;
    align-items: center;
}

a {
    
}
.uppermiddle button {
    height: 4rem;
    width: 9rem;
    border-radius: 20px;
    font-size: 1.5rem;
    transition: background-color 300ms;
    border: 1px solid black;
    background-color: #C04E4E;
    color: white;
}

.uppermiddle button:hover {
    background-color: darkred;
}





#tech h3 {
    font-size: 3rem;
    font-size: "Cenzel";
    color: #C04E4E;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

#middle {
    box-sizing: border-box;
    height: 1300px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
    align-items: start;
    background-repeat: no-repeat;

}

.piece {
    width: 20rem;
    height: 20rem;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(140, 105, 71, 0.3);
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;

}

.piece h3 {
    font-size: 1.5rem;
}

.piece p {
    text-align: left;
    font-size: 1rem;
    overflow: hidden;
    padding: 10px;
}

.upper {
    height: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.lower {
    box-sizing: border-box;
    height: 50%;

}

.lower span {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.fa-arrow-up-right-from-square {
    color: black;
    font-size: 1.9rem;
    cursor: pointer;
}

.lighteagle {
    background-image: url("lighteagle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #FF6347 ;
}

.mediumeagle {
    background-image: url("mediumeagle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #FF69B4;
}

.overhead {
    background-image: url("6hp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #8A2BE2;
}

.crouchingmedium {
    background-image: url("2mp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #00CED1 ;
}

.sa2 {
    background-image: url("sa2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F0E68C;
}

.fivehk {
    background-image: url("5hk.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #DDA0DD;
}

.driveimpact {
    background-image: url("driveimpact.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #32CD32;
}

.dirtydi {
    background-image: url("driveimpact.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F08080;
}

.dirty {
    font-size: 1.2rem;
    font-weight: bold;
    transform: rotate(-60deg);
}

#streamercontainer {
    box-sizing: border-box;
    height: 1000px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
    align-items: start;
    padding: 100px;
    
}

.pieces {
    width: 20rem;
    height: 20rem;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(140, 105, 71, 0.3);
    box-sizing: border-box;
    border-radius: 360px;
    padding: 50px;
    background-color: white;
    background-blend-mode: ;
}

.title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.oilking {
    height: 60%;
    width: 100%;
    background-image: url("oilking.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bigbird {
    height: 60%;
    width: 100%;
    background-image: url("bigbird.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.jb {
    height: 60%;
    width: 100%;
    background-image: url("jb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.gachikun {
    height: 60%;
    width: 100%;
    background-image: url("gachikun.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.links {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-youtube {
    color: red;
    font-size: 2rem;
}

.fa-twitch {
    color: #9146FF;
    font-size: 2rem;
}

.fa-x-twitter {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.bottom h3 {
    font-size: 3rem;
    font-size: "Cenzel";
    color: #C04E4E;
    display: flex;
    justify-content: center;
}

.fa-brands {
    cursor: pointer;
}