* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins";
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: inherit;
}



main {
    background-color: #61b0c4;
    background-image: url("images/background.jpg");
    position: relative;
    top: 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
}



nav {
    top: 0%;
    z-index: 2;
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    height: 5rem;
    background-color: transparent;
    align-items: center;
    position: fixed;
    width: 100%;
    overflow: hidden;
    color: black;
}

.first.scrolled {
    color: rgb(233,139,182);
}
.nav {
    grid-column: 2/5;
    display: flex;
    justify-content: space-around;
}

nav span:hover {
    border-bottom: 6px solid rgb(233,139,182);
    transition: all 50ms ease-in-out;
}

.center, .hub {
    color: rgb(233,139,182);
}

nav.scrolled {
    background-color:  rgba(30, 20, 60, 0.80);

    color: white;

}

nav.scrolled a {
    color: white;

}

.center.scrolled {
    color: white;
}


.titletop {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    color: black;
    font-size: 1.90em;
    letter-spacing: 0.2em;
}



.changechar {
    border: 3px solid black;
    padding: 10px;
    width: auto;
    background-color: transparent;
    cursor: pointer;
}

.changechar.scrolled {
    border: 3px solid white;
    color: white;
    padding: 10px;
    
    background-color: transparent;
    cursor: pointer;
    animation: change 3s ease-in-out infinite;
}

@keyframes change {
    50% {
        border: 3px solid rgb(233,139,182);
    }
}
.changechar:hover {
    background-color: rgb(233,139,182);
    color: white;
    transform: scale(1.1);
}

.changechar.scrolled:hover {
    background-color: transparent;
    color: white;
    transform: scale(1.1);
}





.change:hover {
    background-color: black;
    color: white;
}
.top {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0% 100% 100% 0% / 56% 0% 100% 44% ;
    border: 5px solid white;
    position: relative;
}

.profilepic {
    height: 50%;
    width: 20%;
    background-image: url("images/profilepic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.description {
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 45%;
    height: 45%;
    /*border: 3px solid black;*/
    border: 10px groove #2a2727;
    opacity: 1;
    transition: opacity 0.5s ease;

}

.description h3 {
    font-size: 3rem;
    color: black;

    margin-bottom: 0px;
    margin: 0%;
    padding: 0%;
}

.achievement {
    background-image: url("images/achievement.jpg");
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
    opacity: 100%;

    color: white;
    font-size: 1.5rem;
    -webkit-text-stroke: #2a2727;
    -webkit-text-stroke-width: 1px;
}

.redbull {
}

.redbull:hover {
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 0.2px;
    transform: scale(1.05);
}



@keyframes glitch {
    50% {
      transform: skew(180deg);
      color: white;
    }
  }


  @keyframes glow {
    0% {
        text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000, 0 0 80px #000000;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}
.description.replay {
    display: flex;
    flex-direction: row;
    padding: 0;
    opacity: 100%;
    transition: opacity, 400ms ease-in;
    
}

.replay div {
    height: 100%;
    width: 50%;
    margin: none;
    background-color: transparent;
}

.replay h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

.leftthird {
    padding: 10px;
}

.leftthird button {
    width: 40%;
    height: 20%;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    
    
    
}



.leftthird button:hover {
    transform: scale(1.1);
    -webkit-box-shadow: -5px 10px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 0px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 0px 0px palevioletred;
    transform: translateY(-2px);
    transition: transform 200ms ease-in;
    animation: moveit 1s infinite alternate;
    
    
}


.rightthird {
    background-image: url("images/replays.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}




.description p {
    font-size: 1rem;
    font-weight: 600;
}

.fa-arrow-right {
    font-size: 3rem;
    margin-left: 10px;
    cursor: pointer;
    
}

#ctitle, #ltitle, #stitle {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;

    /* Stronger text shadow to pop against brightness */
    text-shadow: 
        0 0 5px rgba(0, 0, 0, 0.4), 
        0 2px 10px rgba(0, 0, 0, 0.6);
}


/* sidebar */

.section {
    position: fixed;
    top: 50%;
    left: 95%;
    width: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.fa-discord {
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 15px;
    align-self: center;
    background: #7350f4;
    border-radius: 50%;
}


.framedate {
    background-image: url("images/ogimage.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    align-self: center;
    animation: bounce 5s infinite;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
    margin-bottom: 15px;

}

.framedate:hover, .fa-file-word:hover {
    transform: scale(1.2);
}

.fa-file-word {
    color: green;
    font-size: 2rem;
    margin-bottom: 15px;
    align-self: center;
}

#playBtn i {
    color: white;
    font-size: 2rem;
    align-self: center;
    opacity: 100%;
}

/* combos and oki section */

.combos {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
    gap: 20px;
    justify-items: center;
    background-repeat: no-repeat;
    padding: 100px;
    justify-content: center;

}

.combopiece {
    width: 20rem;
    height: 20rem;
    border: 7px solid white;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 300ms;
    cursor: pointer;

}

.combopiece:hover {
    transform: scale(1.1);
    box-shadow: 2px 4px 10px 0px rgb(255, 17, 17);

}

.combopiece h3 {
    color: black;
    font-size: 1rem;
    text-align: center;
}

.combopiece p {
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
    padding: 10px;
}

.combopiece.upper {
    height: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.upper {
    height: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

@keyframes pulseBg {
    0%, 100% {
      background-color: var(--base-color);
    }
    50% {
      background-color: var(--dark-color);
    }
  }
  

  .upper.intro {
    background-image: url('images/intro.png');
    --base-color: #B76EFF;
    --dark-color: #9c5bcc;
    background-color: var(--base-color);
    background-position: center;
  }
  
  .upper.full-combo-guide {
    background-image: url('images/combo.png');
    --base-color: #6ECFF6;
    --dark-color: #59b0cf;
    background-color: var(--base-color);
  }
  
  .upper.frame-trap {
    background-image: url('images/frametrap.png');
    --base-color: #9381FF;
    --dark-color: #7465cc;
    background-color: var(--base-color);
  }
  
  .upper.pressure {
    background-image: url('images/pressure.png');
    --base-color: #D88CE0;
    --dark-color: #b072bd;
    background-color: var(--base-color);
  }
  
  .upper.oki {
    background-image: url('images/oki.png');
    --base-color: #8DD3C7;
    --dark-color: #6db3a9;
    background-color: var(--base-color);
  }
  
  .upper.drive-impact {
    background-image: url('images/driveimpact.png');
    --base-color: #F5B971;
    --dark-color: #d09c5b;
    background-color: var(--base-color);
  }
  
  .upper.reset {
    background-image: url('images/lk.png');
    --base-color: #B0E0E6;
    --dark-color: #8ec3c9;
    background-color: var(--base-color);
  }
  
  .upper.max-damage {
    background-image: url('images/maxdamage.png');
    --base-color: #FF92A5;
    --dark-color: #d67587;
    background-color: var(--base-color);
  }
  
  .upper.feng-shui {
    background-image: url('images/fengshui.png');
    --base-color: #D291FF;
    --dark-color: #a66ecb;
    background-color: var(--base-color);
  }
  
  .upper.space-traps {
    background-image: url('images/spacetraps.png');
    --base-color: #7BC8A4;
    --dark-color: #60a687;
    background-color: var(--base-color);
  }
  
  .upper.anti-juri {
    background-image: url('images/invalid.png');
    --base-color: #C2B280;
    --dark-color: #a59569;
    background-color: var(--base-color);
  }
  
  .upper.safe-jumps {
    background-image: url('images/samejump.png');
    --base-color: #E6C1F0;
    --dark-color: #c19fc9;
    background-color: var(--base-color);
  }

  .upper:hover {
    animation: pulseBg 2s infinite ease-in-out;
  }
  


/* streamers section */

.streamers {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: start;
    padding: 100px;
    color: black
}

.streamerpiece {
    width: 16rem;
    height: 16rem;
    box-shadow: 0 4px 8px black;
    box-sizing: border-box;
    border-radius: 360px;
    padding: 50px;
    background-color: white;
    transition: transform 200ms ease-in-out;
}
    
.streamerpiece:hover {
    transform: scale(1.1);
    box-shadow: 2px 4px 10px 0px black;
}  
    
.bottom h3 {
    color: white;
}
    
.stream {
    color: #333333;
}
    
.title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333333;
}

.links {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.fa-youtube {
    color: red;
    font-size: 2rem;
}

.fa-twitch {
    color: rgb(138, 78, 201);
    font-size: 2rem;
    animation: twitchflash  2s  ease-in-out infinite alternate;
}

.fa-x-twitter {
    font-size: 2rem;
}

.links.twoman {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    transition: transform 200ms ease-in;
}

.fa-brands:hover {
    transform: scale(1.3);
}

.face {
    height: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
}

.eskay {
    background-image: url('images/eskay.png');
}

.nephew {
    background-image: url('images/nephew.png');
}

.mago {
    background-image: url('images/mago.png');
}

.betty {
    background-image: url('images/betty.png');
}

.uma {
    background-image: url('images/uma.png');
}

.chico {
    background-image: url('images/chico.png');
}

.jak {
    background-image: url('images/jak.png');
}

.nok {
    background-image: url('images/nok.png');
}

.kilzyou {
    background-image: url('images/kilzyou.png');
}

.xerna {
    background-image: url('images/xerna.png');
}

.bassa {
    background-image: url('images/2bassa.png');
}
.labbers {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
    gap: 40px;
    justify-items: center;
    justify-content: center;
    align-items: start;
    padding: 50px;
    
}


.labberpiece {
    width: 16rem;
    height: 16rem;
    box-shadow: 0 4px 8px black;
    box-sizing: border-box;
    border-radius: 360px;
    padding: 50px;
    background-color: white;
    transition: transform 200ms ease-in-out;
}

.kail {
    background-image: url('images/kail.png');
}

.labberpiece:hover {
    filter: grayscale(0%);
    box-shadow: 2px 4px 10px 0px rgba(199, 3, 3, 0.855);

}

.labbers h2{
    text-align: center;
    opacity: 0%;
    color: rgba(228, 57, 85, 0.9);
    transition: opacity 300ms ease-in;
}

.videoplayer {
    display: none; /* hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 800px;
    background: rgba(0, 0, 0, 0.8); /* dark background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.videoplayer iframe {
    width: 700px;
    height: 400px;
}

.videoplayer {
    display: none; /* hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 800px;
    background: rgba(0, 0, 0, 0.8); /* dark background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.videoplayer iframe {
    width: 700px;
    height: 400px;
}
  

.fa-twitch.live {
    color: purple;
    animation: twitchlive 2s infinite alternate;
  }

  @keyframes twitchlive {
    10% {
        color: #00CED1;
    }

    20% {
        color: #32CD32;
    }

    30% {
        color: red;
    }
    50% {
        color: #7350f4;
        transform: scale(-10px);
    }

    60% {
        color: #00CED1;
    }

    70% {
        color: #32CD32;
    }

    80% {
        color: red;
    }

    100% {
        color: #8A2BE2;
        transform: translateY(10px);
    }
    
  }

  #playBtn {
    position: relative;
    background-color: transparent;
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 7px double rgba(255, 255, 255, 0.7);
    box-shadow: rgba(30, 144, 255, 0.4) 0px 54px 55px, 
            rgba(30, 144, 255, 0.4) 0px -12px 30px, 
            rgba(30, 144, 255, 0.4) 0px 4px 6px, 
            rgba(30, 144, 255, 0.4) 0px 12px 13px, 
            rgba(30, 144, 255, 0.4) 0px -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    z-index: 1; /* Button stays above pulse */
  }

  #playBtn.play {
    background-color: rgba(255, 255, 255, 0.7);
    color: black
    ;
    
  }
  
  #playBtn .fa {
    font-size: 1.3rem;
  }

  #playBtn.yo {
    background-color: rgba(255, 255, 255, 0.7);

  }
  
  #playBtn.yo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; /* Start with a wide circle */
    height: 120%;
    background: radial-gradient(circle, rgba(135, 8, 125, 0.6), rgba(255, 255, 255, 0.4) 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
     /* Apply pulse animation */
    z-index: -1; /* Ensure the pulse stays behind the button */
    animation: pulse 4s infinite;
  }

  /* Outer pulse effect */
  #playBtn.play::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; /* Start with a wide circle */
    height: 120%;
    background: radial-gradient(circle, rgba(135, 8, 125, 0.6), rgba(255, 255, 255, 0.4) 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
     /* Apply pulse animation */
    z-index: -1; /* Ensure the pulse stays behind the button */
    animation: pulse 4s infinite;

  }
  
  /* Keyframes for the pulse animation */
  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.5;

    }
    50% {
      transform: translate(-50%, -50%) scale(1.4); /* Grow the pulse */
      opacity: 0.5;
      border: 1px solid white;
    }
    100% {
      transform: translate(-50%, -50%) scale(1); /* Shrink the pulse */
      opacity: 1;

    }
  }
  
  #playBtn:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  #playBtn:active {
    transform: scale(0.95); /* Slight scale effect on click */
  }
  