* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins";
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: inherit;
}





main {
    background-color: rgb(97, 176, 196);
    background-image: 
        linear-gradient(rgba(111, 167, 77, 0.1), rgba(0, 0, 0, 0.1)),
        url("images/bg3.jpg");
    position: relative;
    top: 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    background-color: #2B2E3A; /* or your chosen nav color */
    color: white;
    padding: 1rem;
  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-toggle {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    display: none; /* visible on mobile */
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
  }
  
  .changechar {
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* MOBILE STYLES */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      margin-top: 1rem;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-toggle {
      display: block;
    }
  }
  



nav {
    top: 0%;
    z-index: 2;
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    height: 5rem;
    background-color: transparent;
    align-items: center;
    position: fixed;
    width: 100%;
    overflow: hidden;
    color: black;
}


.nav {
    grid-column: 2/5;
    display: flex;
    justify-content: space-around;
}

nav span:hover {
    border-bottom: 6px solid palegoldenrod;
}

.center, .hub {
    color: #a10d0d;
}

nav.scrolled {
    background-color: rgba(28, 34, 48, 0.7);
    color: white;

}

nav.scrolled a {
    color: white;

}

.center.scrolled {
    color: white;
}


.titletop {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    color: black;
    font-size: 1.90em;
    letter-spacing: 0.2em;
}


.changechar {
    border: 3px solid black;
    padding: 10px;
    width: 50%;
    background-color: transparent;
    cursor: pointer;
}

.changechar.scrolled {
    border: 3px solid white;
    color: white;
    padding: 10px;
    width: 50%;
    background-color: transparent;
    cursor: pointer;
    animation: change 3s ease-in-out infinite;
}

@keyframes change {
    50% {
        border: 3px solid rgb(43, 199, 226)
    }
}
.changechar:hover {
    background-color: palegoldenrod;
    color: black;
    transform: scale(1.1);
}

.changechar.scrolled:hover {
    background-color: transparent;
    color: white;
}





.change:hover {
    background-color: black;
    color: white;
}

.top {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0% 100% 100% 0% / 56% 0% 100% 44% ;
    border: 5px solid white;
    position: relative;
}

.profilepic {
    height: 50%;
    width: 20%;
    background-image: url("images/profilepic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.description {
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 45%;
    height: 45%;
    /*border: 3px solid black;*/
    border: 10px groove #2a2727;
    opacity: 1;
    transition: opacity 0.5s ease;

}

.description h3 {
    font-size: 3rem;
    color: black;

    margin-bottom: 0px;
    margin: 0%;
    padding: 0%;
}

.achievement {
    background-image: url("images/nariii.jpg");
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
    opacity: 100%;

    color: white;
    font-size: 1.5rem;
    -webkit-text-stroke: #2a2727;
    -webkit-text-stroke-width: 1px;
}

.redbull {
}

.redbull:hover {
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 0.2px;
    transform: scale(1.05);
}



@keyframes glitch {
    50% {
      transform: skew(180deg);
      color: white;
    }
  }


  @keyframes glow {
    0% {
        text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000, 0 0 80px #000000;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}
.description.replay {
    display: flex;
    flex-direction: row;
    padding: 0;
    opacity: 100%;
    transition: opacity, 400ms ease-in;
    
}

.replay div {
    height: 100%;
    width: 50%;
    margin: none;
    background-color: transparent;
}

.replay h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

.leftthird {
    padding: 10px;
}

.leftthird button {
    width: 40%;
    height: 20%;
    background-color: white;
    color: rgb(65,79,165);
    cursor: pointer;
    border-radius: 15px;
    
    
    
}



.leftthird button:hover {
    transform: scale(1.1);
    -webkit-box-shadow: -5px 10px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 0px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 0px 0px palevioletred;
    transform: translateY(-2px);
    transition: transform 200ms ease-in;
    animation: moveit 1s infinite alternate;
    
    
}


.rightthird {
    background-image: url("images/replay.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}




.description p {
    font-size: 1rem;
    font-weight: 600;
}

.fa-arrow-right {
    font-size: 3rem;
    margin-left: 10px;
    cursor: pointer;
    
}


.toggle {
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(201,103,14);
    right: 20px;
    bottom: 80px;
    width: 60px;
    height: auto;
    border: 2px solid rgb(201,103,14);
    position: fixed;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    
}

.footer {
    display: none;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  z-index: 2;

}

.holder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer a:hover {
  color: rgb(201,103,14);
}


.fa-bars, .fa-x {
    

    font-size: 40px; 
    border: none;
    transition: all ease-in-out 300ms;
    cursor: pointer;
    color: rgb(201,103,14);
    z-index: 2;

}



.sidebar {
    display: none;
    flex-direction: column; /* FIXED */
    justify-content: center;
    position: fixed;
    height: 60%;
    width: 80%;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    bottom: 80px;
    right: 20px;
    z-index: 2;
    transition: all ease-in-out 300ms;
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);

}

.sidebar.active {
    display: flex;
}


.sidebar a {
    width: 100%;
    height: 20%;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.sidebar a:hover {
    background-color: lightgray;
}

.sidebar span {
    margin-left: 10px;
    font-weight: 600;
}

.sidebar span:hover {
    color: grey;
}


.topofpage {
    display: none;
    height: 100px;
    width: 100%;
}

@media (max-width: 1136px) {

    .first {
        color: black;
    }

    .center {
        color: white;
    }

    .topofpage {
        display: block;
    }
    .toggle {
        display: flex;
    }

    .section {
        display: none !important;
    }
    
    .top {
        display: none !important;
    }

    .nav {
        display: none !important;
        height: 10% !important;
    }

    main {
        background-image: url("images/bg5.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .changechar {
        color: black;
        border-color: black; 
    }

    nav {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        padding: 1rem 1rem;
        height: auto;
        background-color: transparent;

        position: fixed;
    }


    .titletop {
        font-size: 1rem;
        color: #000000;
    }





    #ctitle, #ltitle, #stitle {
        font-size: 2em !important;
    }

    .footer {
        display: block;
    }

    .videoplayer {
        width: 80% !important;
        
    }

 
}

.dirty {
    font-size: 1.2rem;
    font-weight: bold;
    transform: rotate(-60deg);
}

#ctitle, #ltitle, #stitle {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;

    /* Stronger text shadow to pop against brightness */
    text-shadow: 
        0 0 5px rgba(0, 0, 0, 0.4), 
        0 2px 10px rgba(0, 0, 0, 0.6);
}


/* sidebar */

.section {
    position: fixed;
    top: 50%;
    right: 20px;
    width: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.first.scrolled {
    color: palegoldenrod;
}

.fa-discord {
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 15px;
    align-self: center;
    background: #7350f4;
    border-radius: 50%;
}


.framedate {
    background-image: url("images/fat.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 10px;
    align-self: center;
    animation: bounce 5s infinite;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
    margin-bottom: 15px;

}

.framedate:hover, .fa-file-word:hover {
    transform: scale(1.2);
}

.fa-file-word {
    color: red;
    font-size: 2rem;
    margin-bottom: 15px;
    align-self: center;
}

#playBtn i {
    color: white;
    font-size: 2rem;
    align-self: center;
    opacity: 100%;
}

/* combos and oki section */

.combos {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
    gap: 20px;
    justify-items: center;
    background-repeat: no-repeat;
    padding: 100px;
    justify-content: center;

}

.combopiece {
    cursor: pointer;
    width: 20rem;
    height: 20rem;
    border: 7px solid white;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 300ms;

}

.combopiece:hover {
    transform: scale(1.1);
    box-shadow: 2px 4px 10px 0px rgb(255, 17, 17);

}

.combopiece h3 {
    color: black;
    font-size: 1rem;
    text-align: center;
}

.combopiece p {
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
    padding: 10px;
}

.combopiece.upper {
    height: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.upper {
    height: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}


@keyframes pulseBg {
    0%, 100% {
      background-color: var(--base-color);
    }
    50% {
      background-color: var(--dark-color);
    }
  }


    .upper.season3 {
    background-image: url('images/season3_stacked_cool_full.png');
    --base-color: #a4edff;  /* soft lavender violet */
    --dark-color: #7dafd0;
    background-color: var(--base-color);
}


.upper.combo {
    background-image: url('images/frametraps.png');
    --base-color: #b0f4c0;  /* mint fog */
    --dark-color: #8bc89e;
    background-color: var(--base-color);
}








.upper.intro {
    background-image: url('images/intro.png');
    --base-color: #cba4ff;  /* soft lavender violet */
    --dark-color: #a67dd0;
    background-color: var(--base-color);
}



.upper.oki {
    background-image: url('images/oki.png');
    --base-color: #f8d282;  /* peachy gold */
    --dark-color: #caa85c;
    background-color: var(--base-color);
}

.upper.burnout {
    background-image: url('images/burnout.png');
    --base-color: #b1e692;  /* mellow lime green */
    --dark-color: #8cc169;
    background-color: var(--base-color);
}

.upper.true-blockstring {
    background-image: url('images/blockstring.png');
    --base-color: #ffb3ab;  /* soft coral red */
    --dark-color: #d98e86;
    background-color: var(--base-color);
}

.upper.drive-impact {
    background-image: url('images/reset.png');
    --base-color: #f2a0bc;  /* light rose pink */
    --dark-color: #ca7f99;
    background-color: var(--base-color);
}

.upper.stun-combo {
    background-image: url('images/stun.png');
    --base-color: #c6b3f5;  /* pale space purple */
    --dark-color: #a28ec9;
    background-color: var(--base-color);
}

.upper.can-setups {
    background-image: url('images/can.png');
    --base-color: #a6e9f0;  /* chill light cyan */
    --dark-color: #7bc8cf;
    background-color: var(--base-color);
}

.upper.safejumps {
    background-image: url('images/safejump.png');
    --base-color: #d2a8ff;  /* dreamy orchid */
    --dark-color: #ab84cc;
    background-color: var(--base-color);
}

.upper.dp-punish {
    background-image: url('images/dppunish.png');
    --base-color: #b0f4c0;  /* mint fog */
    --dark-color: #8bc89e;
    background-color: var(--base-color);
}

.upper.midscreen-oki {
    background-image: url('images/midscreen.png');
    --base-color: #ffd0a6;  /* creamy orange-peach */
    --dark-color: #d9a978;
    background-color: var(--base-color);
}

.upper.drive-rush {
    background-image: url('images/driverush.png');
    --base-color: #a3c8ff;  /* pastel blue energy */
    --dark-color: #7aa3d1;
    background-color: var(--base-color);
}

.upper.tatsu-oki {
    background-image: url('images/tatsuoki.png');
    --base-color: #f5b1c7;  /* soft bubblegum pink */
    --dark-color: #cc8da3;
    background-color: var(--base-color);
}

.upper.mid-screen-setups {
    background-image: url('images/midscreensetups.png');
    --base-color: #d4e688;  /* mellow chartreuse */
    --dark-color: #b2c764;
    background-color: var(--base-color);
}

.upper.frame-traps {
    background-image: url('images/frametraps.png');
    --base-color: #f5a197;  /* sunset peach */
    --dark-color: #cc7f76;
    background-color: var(--base-color);
}

.upper.anti-kim {
    background-image: url('images/antikim.png');
    --base-color: #cab6e0;  /* washed violet cloud */
    --dark-color: #a896bc;
    background-color: var(--base-color);
}

.upper:hover {
    animation: pulseBg 2s infinite ease-in-out;
}



 .upper:hover {
    animation: pulseBg 2s infinite ease-in-out;
  }
  



.combopiece.lower {
    box-sizing: border-box;
    height: 50%;

}



/* streamers section */

.streamers {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: start;
    padding: 100px;
    color: black
}

.streamerpiece {
    width: 16rem;
    height: 16rem;
    box-shadow: 0 4px 8px black;
    box-sizing: border-box;
    border-radius: 360px;
    padding: 50px;
    background-color: white;
    transition: transform 200ms ease-in-out;
}
    
.streamerpiece:hover {
    transform: scale(1.1);
    box-shadow: 2px 4px 10px 0px black;
}  
    
.bottom h3 {
    color: white;
}
    
.stream {
    color: #333333;
}
    
.title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333333;
}

.links {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.fa-youtube {
    color: red;
    font-size: 2rem;
}

.fa-twitch {
    color: rgb(138, 78, 201);
    font-size: 2rem;
    animation: twitchflash  2s  infinite alternate;
}

.fa-x-twitter {
    font-size: 2rem;
}

.fa-brands {
    transition: transform 200ms ease-in;
}

.fa-brands:hover {
    transform: scale(1.3);
}

.face {
    height: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
}

.dez {
    background-image: url("images/dez.png");
}

.fiesty {
    background-image: url("images/fiesty.png");
}

.pipokun {
    background-image: url("images/pipokun.png");
}

.doma {
    background-image: url("images/domaxd.png");
}


.psycho {
    background-image: url("images/psycho.png");
}

.punk {
    background-image: url("images/ppunk.png");
}

.shine {
    background-image: url("images/shine.png");
}


.fierce {
    background-image: url("images/fierce.png");
}

.zykles {
    background-image: url("images/zykles.png");
}

.true {
    background-image: url("images/truetech.png");
}

.diaphone {
    background-image: url("images/diaphone.png");
}

.s4ltykid {
    background-image: url("images/s4ltykid.png");
}

.surini {
    background-image: url("images/surini.png");
}

.matsu {
    background-image: url("images/matsu.png");
}

.narikun {
    background-image: url("images/narikun.png");
}


.cuhz {
    background-image: url("images/cuhz.png");
}

.scythe {
    background-image: url("images/scythe.png");
}



.labbers {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
    gap: 40px;
    justify-items: center;
    justify-content: center;
    align-items: start;
    padding: 50px;
    
}

.labberpiece {
    width: 16rem;
    height: 16rem;
    box-shadow: 0 4px 8px black;
    box-sizing: border-box;
    border-radius: 360px;
    padding: 50px;
    background-color: white;
    transition: transform 200ms ease-in-out;
}
    
.labberpiece:hover {
    transform: scale(1.1);
    box-shadow: 2px 4px 10px 0px black;
} 

.labbers h2{
    text-align: center;
    opacity: 0%;
    color: rgba(228, 57, 85, 0.9);
    transition: opacity 300ms ease-in;
}


.gadi {
    background-image: url("images/gadi.png");
}

.tooru {
    background-image: url("images/tooru.png");
}

.ram {
    background-image: url("images/ramdoggo.jpg");
}

.derricott {
    background-image: url("images/dericott.png");
}

.videoplayer {
    display: none; /* hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    background: rgba(0, 0, 0, 0.8); /* dark background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.videoplayer iframe {
    width: 100%;
    height: 100%;
}


  

.fa-twitch.live {
    color: purple;
    animation: twitchlive 2s infinite alternate;
  }

  @keyframes twitchlive {
    10% {
        color: #00CED1;
    }

    20% {
        color: #32CD32;
    }

    30% {
        color: red;
    }
    50% {
        color: #7350f4;
        transform: scale(-10px);
    }

    60% {
        color: #00CED1;
    }

    70% {
        color: #32CD32;
    }

    80% {
        color: red;
    }

    100% {
        color: #8A2BE2;
        transform: translateY(10px);
    }
    
  }

  #playBtn {
    position: relative;
    background-color: transparent;
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 7px double rgba(255, 255, 255, 0.7);
    box-shadow: rgba(30, 144, 255, 0.4) 0px 54px 55px, 
            rgba(30, 144, 255, 0.4) 0px -12px 30px, 
            rgba(30, 144, 255, 0.4) 0px 4px 6px, 
            rgba(30, 144, 255, 0.4) 0px 12px 13px, 
            rgba(30, 144, 255, 0.4) 0px -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    z-index: 1; /* Button stays above pulse */
  }

  #playBtn.play {
    background-color: rgba(255, 255, 255, 0.7);
    color: black
    ;
    
  }
  
  #playBtn .fa {
    font-size: 1.3rem;
  }

  #playBtn.yo {
    background-color: rgba(255, 255, 255, 0.7);

  }
  
  #playBtn.yo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; /* Start with a wide circle */
    height: 120%;
    background: radial-gradient(circle, rgba(135, 8, 125, 0.6), rgba(255, 255, 255, 0.4) 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
     /* Apply pulse animation */
    z-index: -1; /* Ensure the pulse stays behind the button */
    animation: pulse 4s infinite;
  }

  /* Outer pulse effect */
  #playBtn.play::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; /* Start with a wide circle */
    height: 120%;
    background: radial-gradient(circle, rgba(135, 8, 125, 0.6), rgba(255, 255, 255, 0.4) 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
     /* Apply pulse animation */
    z-index: -1; /* Ensure the pulse stays behind the button */
    animation: pulse 4s infinite;

  }
  
  /* Keyframes for the pulse animation */
  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.5;

    }
    50% {
      transform: translate(-50%, -50%) scale(1.4); /* Grow the pulse */
      opacity: 0.5;
      border: 1px solid white;
    }
    100% {
      transform: translate(-50%, -50%) scale(1); /* Shrink the pulse */
      opacity: 1;

    }
  }
  
  #playBtn:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  #playBtn:active {
    transform: scale(0.95); /* Slight scale effect on click */
  }
  
footer {
  display: none;
}

@media (max-width: 800px) {
  /* Show title bar layout */
  nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    padding: 1rem 1rem;
    height: auto;
   
  }

  .changechar {
    width: auto !important;
  }

  .nav {
    display: none !important;
  }

  .top {
    display: none !important;
  }

  /* Add space below fixed nav */
  #ctitle, #stitle, #ltitle {
    margin-top: 80px;
  }

  /* Show footer ONLY on mobile */
  footer {
    display: flex !important;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 1rem;
    z-index: 10;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }

  footer ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}

.tourneywins {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center; /* center items in their grid cell */
    justify-content: center; /* center the grid layout */
    background-repeat: no-repeat;
    padding: 100px;

    max-width: 2000px; /* set a max width for the grid */
    margin: 0 auto; /* center the whole grid in the parent container */
}

.super {
    background-image: url("images/super.png");
}


.bam {
    background-image: url("images/bam-2025-logo.png");
    
}

.sflus {
    background-image: url("images/sflus.png");
    
}


.tourney {
    width: 15rem;
    height: 15rem;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid gold;
    padding: 20px;
    background-position: center center;
    border: none;
    transition: transform 300ms ease-in-out;
}

.tourney:hover {
    transform: scale(1.1);
}